* {
  color: white;
}

body {
  display: flex;
  background-color: hsl(0, 0%, 81%);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Open sans', sans-serif;
}

p {
  font-size: 0.9rem;
}

h3 {
  font-size: 1.25;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1440px;
  gap: 20px;
  margin: 100px auto;
  
}

.profile-pg1 {
  grid-column: span 2;
  gap: 10px;
}

.profile-pg4 {
 grid-column: 2 / span 2;

}

.profile-pg5{
 grid-column: 4;
 grid-row: 1 / span 2;

}

@media screen and (max-width: 900px){
  .main-container {
  grid-template-columns: 1fr;
  max-width: 600px;
}
.profile-pg1, .profile-pg4, .profile-pg5 {
  grid-column: unset;
  grid-row: unset;
}
.icon-quote {
  display: none;
}
}

@media screen and (max-width: 1440px) {
  .profile-info > h3 {
  line-height: 1.2;
}
.profile-info > p {
  margin-top: -10px;
}
}


.box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.profile-pg1 {
  background-color: hsl(263, 55%, 52%);
  padding: 20px;
  position: relative;
  box-shadow: 0 10px 20px black;
}

.icon-quote {
  position: absolute;
  left: 75%;
  top: 20px;
}

h3 {
  z-index: 1;
}

.main-box {
  display: flex;
  align-items: center;
  gap: 15px;
}


.profile-image {
  border-radius: 40px;
}

.profile-image {
  width: 30px;
  width: 30px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  line-height: 0;

}


.daniel-img > img {
  border-radius: 40px;
}


.profile-pg2 {
  background-color: hsl(217, 19%, 35%);
  padding: 20px;
  box-shadow: 0 10px 20px black;
}

.main-box2 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-box2 > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profile-pg3 {
  background-color: hsl(0 0 100%);
  padding: 20px;
  box-shadow: 0 10px 20px black;
} 

.profile-pg3 > p {
  color: hsl(217, 19%, 35%);
}

.profile-pg3 > h3 {
  color: hsl(217, 19%, 35%);
}

.main-box3 > .profile-info > p {
  color: hsl(217, 19%, 35%);
}

.main-box3> .profile-info > h3 {
  color: hsl(217, 19%, 35%);
}

.main-box3 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-box3 > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profile-pg4 {
  background-color:  hsl(219, 29%, 14%);
  padding: 20px;
  box-shadow: 0 10px 20px black;
}

.main-box4 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-box4 > img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.profile-pg5 {
  background-color: white;
  padding: 20px;
  box-shadow: 0 10px 20px black;
}

.profile-pg5 > p {
  color: hsl(217, 19%, 35%);
}

.profile-pg5 > h3 {
  color: hsl(217, 19%, 35%);
}

.main-box5 >.profile-info > p {
  color: hsl(217, 19%, 35%);
}

.main-box5 > .profile-info > h3 {
  color: hsl(217, 19%, 35%);
}
.main-box5 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-box5 > img{
width: 40px;
height: 40px;
border-radius: 20px;
}
